<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="../css/quiz.css" rel="stylesheet">
    <title>Jogos LEM</title>
</head>
<body>
    
    <%- include('header.html')%>

    <main id="quiz">

        <h2>Quiz Matemático</h2>
        <p>Tente acertar o máximo de perguntas dentro do tempo limite!!</p>

        <div id="gameBox">
            <div id="final">
                <h2>Você respondeu todas as perguntas!!!</h2>
                <h4>Você acertou <%= acertos %> de <%= total %> perguntas!</h4><h4>Tempo final: <%= tempo %> </h4>
                <a href="/quiz"><input type="button" value="Jogar novamente"></a>
            </div>
        </div>

    </main>

    <%- include('footer.html')%>

</body>
</html>